.center-title {
    display: flex;
    padding: 10px 10px 10px 10px; 
    margin-right: auto;
    margin-left: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
 }


.contact-section {
    display: flex;
    flex-direction: column;
    margin: 75px 50px 100px 50px;
    padding: 10px 10px 10px 10px;
 }
 
 .contact-text {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 20px 0px;
 }
 
 .formbox {
    display: flex;
    flex-flow: wrap row;
    justify-content:space-evenly;
    padding: 0px 150px 5px 150px;
 } 
 
 .formbox-1 {
    display: flex;
    flex-flow: wrap row;
    flex-direction: column;
    justify-content: left;
    align-content: center;
 }
 
 .input-box {
    display: flex;
    padding: 10px;
    margin: 20px;
    height: 50px;
    width: 400px;
    background: #030516;
    border: 5px solid #6d7ece;
    border-radius: 10px;
    box-shadow: 0 0px 10px #b8c1ec;
    color: #fffffe;
 }
 
 .formbox-2 {
    display: flex;
    flex-flow: wrap row;
    flex-direction: column;
    justify-content: right;
 }
 
 .error-box {
    display: flex;
    flex-wrap: wrap;
    /*border: 5px solid #d4d8f0;*/
   /* padding: 10px 10px 10px 10px; */
    padding: 0px 150px 5px 150px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: /*#fffffe*/ #f50ce9;
    font-size: 20px;
    font-weight: bold;
 
 }
 
 .submit-button {
    background-color: #cf63c1;
    color: #fffffe;
    padding: 10px;
    margin: 20px;
    height: 50px;
    width: 425px;
    border: 2px solid#eebbc3;
    border-radius: 10px;
    box-shadow: 0 0px 10px#eebbc3;
 
 }
 
 .message-input {
    display: flex;
    padding: 10px;
    margin: 20px;
    height: 200px;
    width: 400px;
    background: #030516;
    border: 5px solid #6d7ece;
    border-radius: 10px;
    box-shadow: 0 0px 10px#b8c1ec;
    text-align: left;
    
 }
 
 .message-text {
    color: #fffffe;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
 }
 ::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fffffe;
 }